<!DOCTYPE html>
<html lang="ar-eg" dir="rtl">
<!-- Mirrored from fickle.aimmate.com/rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2018 23:40:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- iOS webapp metatags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/Ar-assets/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Ar-assets/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Ar-assets/images/ios/fickle-logo-114.png" />
    <!-- TODO: Add a favicon -->
    <link href="~/Content/logo.png" rel="icon">
    <link href="~/Content/logo.png" rel="apple-touch-icon">
    <title>   مؤسسة حسن الغبار  </title>
    <!--Page loading plugin Start -->
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/pace-rtl.css">
    <script src="~/Content/Ar-assets/js/pace.min.js"></script>
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
    <link href="~/Content/Ar-assets/css/bootstrap-rtl.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/selectize.bootstrap3-rtl.css">
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/bootstrap-progressbar-3.1.1-rtl.css">
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/jquery-jvectormap-rtl.css">

    <link href="https://fonts.googleapis.com/css2?family=Tajawal&amp;display=swap" rel="stylesheet">
    <!--AmaranJS Css End -->
    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
    <link href="~/Content/Ar-assets/css/rtl-css/style-rtl.css" rel="stylesheet">
    <!-- Custom styles Style End-->
    <!-- Responsive Style For-->
    <link href="~/Content/Ar-assets/css/rtl-css/responsive-rtl.css" rel="stylesheet">
    <!--Page loading plugin End   -->
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/summernote-rtl.css">
    <!-- Plugin Css Put Here -->
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/dndTable-rtl.css">
    <link rel="stylesheet" href="~/Content/Ar-assets/css/rtl-css/plugins/tsort-rtl.css">

    <!-- Responsive Style For-->
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style>
        a#Table_next,
        a#Table_previous {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }


        body {
            font-family: 'Tajawal',Tahoma !important;
        }

        h1, h2, h3, h4, h5, h6, a, span, th {
            font-family: 'Tajawal',Tahoma !important;
        }

        th {
            font-weight: bold !important;
        }

        .big-icon {
            font-size: 25px;
        }

        #left-navigation .user-image img {
            border-radius: 0%;
            -moz-border-radius: 0%;
            -webkit-border-radius: 0%;
            overflow: hidden;
        }


        .btn-app:hover {
            color: white !important;
        }

        td a {
            color: black !important;
        }


        body {
            font-family: 'Tajawal',Tahoma !important;
        }

        h2, h1, h3, h4, h5, h6, a, p, li, th, td {
            font-family: 'Tajawal',Tahoma !important;
        }


        ul.mainNav li a span {
            font-weight: bold !important;
        }

        #left-navigation .user-image {
            margin: 0px !important;
            width: 100% !important;
        }

        .ls-widget-box i {
            font-size: 70px !important;
        }

        .ls-widget-box .chart-box-content {
            padding-right: 100px !important;
        }
    </style>

</head>
<body>
    <nav class="navigation">
        <div class="container-fluid">
            <!--Logo text start-->
            <div class="header-logo">
                <a href="#" title="">
                    <h1> </h1>
                </a>
            </div>
            <!--Logo text End-->
            <div class="top-navigation">
                <!--Collapse navigation menu icon start -->
                <div class="menu-control hidden-xs">
                    <a href="javascript:void(0)">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>


                <!--Collapse navigation menu icon end -->
                <!--Top Navigation Start-->

                <ul>




                    <li class="hidden-xs">
                        <a class="right-sidebar-setting" href="@Url.Action("EditProfile","Home")">
                            <i class="fa fa-cogs"></i>
                        </a>
                    </li>
                    <li id="Full">
                        <a href="javascript:;" onClick="go_full_screen();">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </li>
                    <li id="NotFull" style="display:none">
                        <a href="javascript:;" onClick="cancelFullScreen();">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("LogOut","Home")">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>

                </ul>
                <!--Top Navigation End-->
            </div>
        </div>
    </nav>
    <!--Navigation Top Bar End-->
    <section id="main-container">
        <!--Left navigation section start-->
        <!--Left navigation section start-->
        <section id="left-navigation">
            <!--Left navigation user details start-->
            <div class="user-image" style="background-color:white">
                <img src="~/Content/logo.png" alt="" style="border-radius: 0px;max-width: 100%;" />
            </div>

            <!--Left navigation user details end-->
            <!--Phone Navigation Menu icon start-->
            <div class="phone-nav-box visible-xs">
                <a class="phone-logo" title="">
                    <h1>MIS </h1>
                </a>
                <a class="phone-nav-control" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                </a>
                <div class="clearfix"></div>
            </div>
            <!--Phone Navigation Menu icon start-->
            <!--Left navigation start-->
            <ul class="mainNav" id="Management">
                <li>
                    <a href="#" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> الأدارة </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Car")">
                        <i class="fa fa-table"></i> <span> أدارة السيارات</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","PerCar")">
                        <i class="fa fa-table"></i> <span> متابعة السيارات</span>
                    </a>
                </li>

                @if (User.IsInRole("SuperAdmin"))
                {
                    <li>
                        <a href="@Url.Action("Index", "ApplicationUsers")">
                            <i class="fa fa-users"></i> <span> مستخدمين النظام</span>
                        </a>
                    </li>
                }

                <li>
                    <a href="#" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> التقارير </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ReportPerPeriod","Report")">
                        <i class="fa fa-table"></i> <span>  تقرير خلال فترة</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ReportTotal","Report")">
                        <i class="fa fa-table"></i> <span>   تقرير شامل</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ReportByNumber","Report")">
                        <i class="fa fa-table"></i> <span>   تقرير بالرقم التسلسلي</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ReportPerCar","Report")">
                        <i class="fa fa-table"></i> <span>   تقرير متابعة السيارات</span>
                    </a>
                </li>
            </ul>

            <!--Left navigation end-->
        </section>
        <!--Left navigation section end-->
        <!--Page main section start-->
        <section id="min-wrapper">
            <div id="main-content" style="background-color:none;background-image:url(../../../../Content/body.jpg)">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Top header start-->
                            <h3 class="ls-top-header" style="font-weight: bold;">لوحة التحكم</h3>
                            <!--Top header end -->
                            <!--Top breadcrumb start -->
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                                <li class="active">@ViewBag.Title</li>
                            </ol>
                            <!--Top breadcrumb start -->
                        </div>
                    </div>
                    @RenderBody()

                </div>
            </div>
        </section>

    </section>

    <!--Layout Script start -->
    <script type="text/javascript" src="~/Content/Ar-assets/js/color.js"></script>
    <script type="text/javascript" src="~/Content/Ar-assets/js/lib/jquery-1.11.min.js"></script>
    <script src="~/Content/Ar-assets/js/lib/jqueryui.js"></script>
    <script type="text/javascript" src="~/Content/Ar-assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Ar-assets/js/multipleAccordion.js"></script>

    <!--easing Library Script Start -->
    <script src="~/Content/Ar-assets/js/lib/jquery.easing.js"></script>
    <!--easing Library Script End -->
    <!--Nano Scroll Script Start -->
    <script src="~/Content/Ar-assets/js/jquery.nanoscroller.min.js"></script>
    <!--Nano Scroll Script End -->
    <!--switchery Script Start -->
    <script src="~/Content/Ar-assets/js/switchery.min.js"></script>
    <!--switchery Script End -->
    <!--bootstrap switch Button Script Start-->
    <script src="~/Content/Ar-assets/js/bootstrap-switch.js"></script>
    <!--easypie Library Script Start -->
    <script src="~/Content/Ar-assets/js/jquery.easypiechart.min.js"></script>
    <!--easypie Library Script Start -->
    <!--bootstrap-progressbar Library script Start-->
    <script src="~/Content/Ar-assets/js/bootstrap-progressbar.min.js"></script>
    <!--bootstrap-progressbar Library script End-->

    <script type="text/javascript" src="~/Content/Ar-assets/js/pages/layout.js"></script>
    <!--Layout Script End -->
    <!--selectize Library start-->
    <script src="~/Content/Ar-assets/js/selectize.min.js"></script>
    <!--selectize Library End-->
    <!--Select & Tag demo start-->
    <script src="~/Content/Ar-assets/js/pages/selectTag.js"></script>

    <!--Drag & Drop & Sort  table start-->
    <script src="~/Content/Ar-assets/js/tsort.js"></script>
    <script src="~/Content/Ar-assets/js/jquery.tablednd.js"></script>
    <script src="~/Content/Ar-assets/js/jquery.dragtable.js"></script>
    <!--Drag & Drop & Sort table end-->
    <!--Editable-table Start-->
    <script src="~/Content/Ar-assets/js/editable-table/jquery.dataTables.js"></script>
    <script src="~/Content/Ar-assets/js/editable-table/jquery.validate.js"></script>
    <script src="~/Content/Ar-assets/js/editable-table/jquery.jeditable.js"></script>
    <script src="~/Content/Ar-assets/js/editable-table/jquery.dataTables.editable.js"></script>
    <!--Advance Radio and checkbox demo start-->
    <!-- summernote Editor Script For Layout start-->
    <script src="~/Content/Ar-assets/js/summernote.min.js"></script>
    <!-- summernote Editor Script For Layout End-->
    <!-- Demo Ck Editor Script For Layout Start-->
    <script src="~/Content/Ar-assets/js/pages/editor.js"></script>
    <!-- Demo Ck Editor Script For Layout ENd-->
    <!--Editable-table Finish -->

    <script>

        $(function () {

            $('.paginate_button.next.disabled').text("التالي");
            $('.paginate_button.previous.disabled').text("السابق");

        })

        function go_full_screen() {
            var elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen();
            }
            $('#Full').hide();
            $('#NotFull').show();
        }

        function cancelFullScreen()
        {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) { /* Firefox */
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE/Edge */
                document.msExitFullscreen();
            }
            $('#Full').show();
            $('#NotFull').hide();
        }

    </script>

</body>


<!-- Mirrored from fickle.aimmate.com/rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2018 23:40:49 GMT -->
</html>
