@using Hospital.Resources;
@{
    ViewBag.Title = Hospital.Resources.Resource.Dashboard;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content2/Ar-assets/js/color.js"></script>
<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
<!--Chartjs  library Script Start -->
<script src="~/Content2/Ar-assets/js/chart/chartjs/Chart.min.js"></script>
<!--Chartjs  library Script End -->
<script>
    function TypeChange() {
        if ($('#Type option:selected').val() == 1) {
            $('#CenterDiv').show();
        } else {
            $('#CenterDiv').hide();
        }
    }

    function Search()
    {
        if ($('#Type :selected').val() == "1")
        {
            window.open("/Admin/Dashboard/Index?SearchType=" + $('#Search :selected').val() + "&CenterId=" + $('#Centers :selected').val(), '_self'); 
        }
        else
        {
            window.open("/Admin/Dashboard/Index?SearchType=" + $('#Search :selected').val() + "&CenterId=0", '_self'); 
        }
    }

    function Print()
    {
        var divToPrint = document.getElementById('PPP');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><link rel="stylesheet" href="../../../Content2/Ar-assets/css/rtl-css/plugins/pace-rtl.css"><link href="../../../Content2/Ar-assets/css/bootstrap-rtl.css" rel="stylesheet"><link rel="stylesheet" href="../../../Content2/Ar-assets/css/rtl-css/plugins/selectize.bootstrap3-rtl.css"><style>@@media print { .pagebreak { clear: both; page-break-after: always; } }</style><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

       // setTimeout(function () { newWin.close(); }, 10);
    }
</script>


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Resource.Dashboard
                    </h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <select class="form-control" id="Search">
                                <option value="1" selected>@Resource.Today</option>
                                <option value="2">@Resource.ThisWeek</option>
                                <option value="3">@Resource.ThisMonth</option>
                                <option value="4">@Resource.Last3Months</option>
                                <option value="5">@Resource.Last6Months</option>
                                <option value="6">@Resource.ThisYear</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" id="Type" onchange="TypeChange()">
                                <option value="0" selected>@Hospital.Resources.Resource.Hospital</option>
                                <option value="1">@Hospital.Resources.Resource.Center</option>
                            </select>
                        </div>
                        <div class="col-lg-3" id="CenterDiv" style="display:none">
                            <select class="form-control" id="Centers">
                                @foreach (var item in ViewBag.Centers)
                            {
                                if (ViewBag.CenterId == item.Id)
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                            <option selected value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                            <option selected value="@item.Id">@item.NameEn</option>
                                    }
                                }
                                else
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                            <option value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                            <option value="@item.Id">@item.NameEn</option>
                                    }
                                }
                            }
                            </select>
                        </div>


                        <div class="col-lg-3">

                            <button class="btn btn-app" href="#" onclick="Search()">
                                <i class="fa fa-search"></i>
                                @Resource.Search
                            </button>
                            <button class="btn btn-app" href="#" onclick="Print()">
                                <i class="fa fa-print"></i>
                                @Resource.Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="PPP">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">
                        @Resource.TotalPreview
                    </h3>
                    <ul class="panel-control">
                        <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                        <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            <div class="ls-widget-box label-lightBlue white">
                                <i class="fa fa-cogs"></i>
                                <div class="chart-box-content">
                                    <h1>
                                    @Resource.TotalCount
                                    </h1>
                                    <p>@ViewBag.AllRequests</p>
                                </div>
                                <div class="box-element">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3 ">
                            <div class="ls-widget-box label-light-green white">
                                <i class="fa fa-cogs"></i>
                                <div class="chart-box-content">
                                    <h1>
                                    @Resource.DoneCount
                                    </h1>
                                    <p>@ViewBag.DoneRequests</p>
                                </div>
                                <div class="box-element">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <div class="ls-widget-box label-red white">
                                <i class="fa fa-cogs"></i>
                                <div class="chart-box-content">
                                    <h1>
                                        @Resource.NotDoneCount
                                    </h1>
                                    <p>@ViewBag.NotDoneRequests</p>
                                </div>
                                <div class="box-element">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <div class="ls-widget-box label-black white">
                                <i class="fa fa-cogs"></i>
                                <div class="chart-box-content">
                                    <h1>
                                    @Resource.ArchiveCount
                                    </h1>
                                    <p>@ViewBag.ArchivedCount</p>
                                </div>
                                <div class="box-element">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">
                        @Resource.DeviceTypeChart
                        
                    </h3>
                    <ul class="panel-control">
                        <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                        <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @if (ViewBag.AllRequests > 0)
                    {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bar_chart_canvas_box">
                                <div id="barchart_values"></div>
                                @{
                                    var DeviceTypes = "";
                                    foreach (var item in ViewBag.DeviceTypes)
                                    {
                                        if (CultureHelper.CurrentLanguageCode == 1)
                                        {
                                            DeviceTypes += item.NameAr + "," + item.Id + ",";

                                        }
                                        else
                                        {
                                            DeviceTypes += item.NameEn + "," + item.Id + ",";

                                        }
                                    }
                                }
                                <input type="hidden" value="@DeviceTypes" id="HiddenDeviceTypes" />
                                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                <script type="text/javascript">

                                var stringData = "";
                                var Obj = $('#HiddenDeviceTypes').val();
                                    debugger;
                                    var Arr = Obj.split(',');
                                    for (var i = 0; i < Arr.length-1; i+=2)
                                    {
                                        stringData += '["' + Arr[i] + '","' + Arr[i + 1] + '"]';
                                        if (i < Arr.length-3)
                                            stringData += ',';
                                    }
                                    google.charts.load("current", { packages: ["corechart"] });
                                    google.charts.setOnLoadCallback(drawChart);

                                function drawChart() {
                                    //var stringData = '["JAN","1088626"],["FEB","1478093"],["MAR","1232870"],["APR","1151634"],["MAY","1083623"],["JUN","740591"],["JUL","769227"],["AUG","1162995"],["SEP","951794"],["OCT","884736"],["NOV","500902"],["DEC","1221438"]';
                                    var data5 = JSON.parse("[" + stringData + "]");
                                    data5 = data5.map(function (item) {
                                        item[1] = parseInt(item[1]);
                                        return item;
                                    });
                                    data5.splice(0, 0, ['year', 'Devices']);

                                    var data6 = google.visualization.arrayToDataTable(data5);

                                    var view = new google.visualization.DataView(data6);
                                    //view.setColumns([0, 1,
                                    //    {
                                    //        calc: "stringify",
                                    //        sourceColumn: 1,
                                    //        type: "string",
                                    //        role: "annotation"
                                    //    },
                                    //    2]);

                                    var options = {
                                        // title: "Density of Precious Metals, in g/cm^3",
                                        width: 500,
                                        height: 300,
                                        bar: { groupWidth: "40%" },
                                        legend: { position: "none" },
                                        fontName: 'Tajawal'
                                    };
                                    var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
                                    chart.draw(view, options);

                                }
                                </script>
                            </div>

                        </div>
                    </div>
                                    }
                                    else {

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p style="text-align:center;color:red">
                                                    @Resource.NoData
                                                </p>
                                            </div>
                                        </div>
                                    }</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">
                     
                        @Resource.DeviceCategoryChart
                    </h3>
                    <ul class="panel-control">
                        <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                        <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @if (ViewBag.AllRequests > 0)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="bar_chart_canvas_box">
                                    <div id="barchart_values2"></div>
                                    @{
                                        var DeviceCategory = "";
                                        foreach (var item in ViewBag.DeviceCategory)
                                        {
                                            if (CultureHelper.CurrentLanguageCode == 1)
                                            {
                                                DeviceCategory += item.NameAr + "," + item.Id + ",";

                                            }
                                            else
                                            {
                                                DeviceCategory += item.NameEn + "," + item.Id + ",";

                                            }
                                        }
                                    }
                                    <input type="hidden" value="@DeviceCategory" id="HiddenDeviceCategory" />
                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                    <script type="text/javascript">
                                var stringData2 = "";
                                var Obj = $('#HiddenDeviceCategory').val();
                                debugger;
                                var Arr = Obj.split(',');
                                for (var i = 0; i < Arr.length - 1; i += 2) {
                                    stringData2 += '["' + Arr[i] + '","' + Arr[i + 1] + '"]';
                                    if (i < Arr.length - 3)
                                        stringData2 += ',';
                                }

                                google.load("visualization", "1", { packages: ["corechart"] });
                                google.setOnLoadCallback(drawChart);

                                function drawChart() {

                                    var data1 = JSON.parse("[" + stringData2 + "]");
                                    data1 = data1.map(function (item) {
                                        item[1] = parseInt(item[1]);
                                        return item;
                                    });

                                    data1.splice(0, 0, ['year', 'Device']);


                                    var dataTable2 = google.visualization.arrayToDataTable(data1);
                                    var options2 = {
                                        title: '',
                                        is3D: true,
                                        width: 500,
                                        height: 300,
                                        fontName: 'Tajawal'
                                    };
                                    var chart2 = new google.visualization.PieChart(document.getElementById('barchart_values2'));
                                    chart2.draw(dataTable2, options2);
                                }
                                    </script>
                                </div>

                            </div>
                        </div>
                                        }
                                        else
                                        {

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p style="text-align:center;color:red">
                                                        @Resource.NoData
                                                    </p>
                                                </div>
                                            </div>
                                        }
                </div>
                </div>
            </div>
        </div>
    @*<div class="pagebreak"> </div>*@
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">
                     

                        @Resource.DeviceUnitsChart
                    </h3>
                    <ul class="panel-control">
                        <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                        <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @if (ViewBag.AllRequests > 0)
{
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bar_chart_canvas_box">
                                <div id="barchart_values3"></div>
                                @{
                                    var DeviceUnits = "";
                                    foreach (var item in ViewBag.DeviceUnits)
                                    {
                                        if(CultureHelper.CurrentLanguageCode == 1)
                                        {
                                            DeviceUnits += item.NameAr + "," + item.Id + ",";

                                        }
                                        else
                                        {
                                            DeviceUnits += item.NameEn + "," + item.Id + ",";

                                        }
                                    }
                                }
                                <input type="hidden" value="@DeviceUnits" id="HiddenDeviceUnit" />
                                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                <script type="text/javascript">

                                var stringData3 = "";
                                var Obj = $('#HiddenDeviceUnit').val();
                                debugger;
                                var Arr = Obj.split(',');
                                for (var i = 0; i < Arr.length - 1; i += 2) {
                                    stringData3 += '["' + Arr[i] + '","' + Arr[i + 1] + '"]';
                                    if (i < Arr.length - 3)
                                        stringData3 += ',';
                                }
                                google.charts.load("current", { packages: ["corechart"] });
                                google.charts.setOnLoadCallback(drawChart);

                                function drawChart() {
                                    //var stringData = '["JAN","1088626"],["FEB","1478093"],["MAR","1232870"],["APR","1151634"],["MAY","1083623"],["JUN","740591"],["JUL","769227"],["AUG","1162995"],["SEP","951794"],["OCT","884736"],["NOV","500902"],["DEC","1221438"]';
                                    var data10 = JSON.parse("[" + stringData3 + "]");
                                    data10 = data10.map(function (item) {
                                        item[1] = parseInt(item[1]);
                                        return item;
                                    });
                                    data10.splice(0, 0, ['year', 'Devices']);

                                    var data11 = google.visualization.arrayToDataTable(data10);

                                    var view = new google.visualization.DataView(data11);
                                    //view.setColumns([0, 1,
                                    //    {
                                    //        calc: "stringify",
                                    //        sourceColumn: 1,
                                    //        type: "string",
                                    //        role: "annotation"
                                    //    },
                                    //    2]);

                                    var options = {
                                        // title: "Density of Precious Metals, in g/cm^3",
                                        width: 500,
                                        height: 300,
                                        bar: { groupWidth: "40%" },
                                        legend: { position: "none" },
                                        fontName: 'Tajawal'
                                    };
                                    var chart = new google.visualization.BarChart(document.getElementById("barchart_values3"));
                                    chart.draw(view, options);

                                }
                                </script>

                            </div>

                        </div>
                    </div>
                    }
                    else {

                    <div class="row">
                        <div class="col-lg-12">
                            <p style="text-align:center;color:red">
                                @Resource.NoData
                          </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">
                      
                        @Resource.RequestChart
                    </h3>
                    <ul class="panel-control">
                        <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                        <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @if (ViewBag.AllRequests > 0)
{
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bar_chart_canvas_box">
                                <div id="piechart2"></div>
                                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                <script type="text/javascript">
                                 // Load google charts
                                 google.charts.load('current', { 'packages': ['corechart'] });
                                 google.charts.setOnLoadCallback(drawChart);

                                 // Draw the chart and set the chart values
                                 function drawChart() {
                                     var data = google.visualization.arrayToDataTable([
                                     ['Not Started', 'Hours per Day'],
                                     ['@Hospital.Resources.Resource.DamageRequest', @ViewBag.DamageRequestCount],
                                     ['@Hospital.Resources.Resource.MovementRequest', @ViewBag.MovementRequestCount],
                                     ['@Hospital.Resources.Resource.AddPPMRequest', @ViewBag.AddPPMRequestCount]
                                     ]);

                                     // Display the chart inside the <div> element with id="piechart"
                                     var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
                                     chart.draw(data, { width: 500, height: 300, fontName: 'Tajawal' });
                                 }
                                </script>
                            </div>

                        </div>
                    </div>
}
else
{

                    <div class="row">
                        <div class="col-lg-12">
                            <p style="text-align:center;color:red">
                                @Resource.NoData
                            </p>
                        </div>
                    </div>
}
                </div>
            </div>
        </div>
    </div>
    @*<div class="pagebreak"> </div>*@
    <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">
                            @Resource.ArchiveChart

                        </h3>
                        <ul class="panel-control">
                            <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                            <li><a class="close-panel" href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.ArchivedCount > 0)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="bar_chart_canvas_box">
                                        <div id="barchart_values88"></div>
                                        @{
                                            var ArchivedList = "";
                                            foreach (var item in ViewBag.ArchivedList)
                                            {
                                                if (CultureHelper.CurrentLanguageCode == 1)
                                                {
                                                    ArchivedList += item.NameAr + "," + item.Id + ",";
                                                }
                                                else
                                                {
                                                    ArchivedList += item.NameEn + "," + item.Id + ",";
                                                }
                                            }
                                        }
                                        <input type="hidden" value="@ArchivedList" id="HiddenArchivedList" />
                                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                        <script type="text/javascript">

                                            var stringData = "";
                                            var Obj = $('#HiddenArchivedList').val();
                                            debugger;
                                            var Arr = Obj.split(',');
                                            for (var i = 0; i < Arr.length - 1; i += 2) {
                                                stringData += '["' + Arr[i] + '","' + Arr[i + 1] + '"]';
                                                if (i < Arr.length - 3)
                                                    stringData += ',';
                                            }
                                            google.charts.load("current", { packages: ["corechart"] });
                                            google.charts.setOnLoadCallback(drawChart);

                                            function drawChart() {
                                                //var stringData = '["JAN","1088626"],["FEB","1478093"],["MAR","1232870"],["APR","1151634"],["MAY","1083623"],["JUN","740591"],["JUL","769227"],["AUG","1162995"],["SEP","951794"],["OCT","884736"],["NOV","500902"],["DEC","1221438"]';
                                                var data00858 = JSON.parse("[" + stringData + "]");
                                                data00858 = data00858.map(function (item) {
                                                    item[1] = parseInt(item[1]);
                                                    return item;
                                                });
                                                data00858.splice(0, 0, ['year', 'Devices']);

                                                var data0056 = google.visualization.arrayToDataTable(data00858);

                                                var view = new google.visualization.DataView(data0056);
                                                //view.setColumns([0, 1,
                                                //    {
                                                //        calc: "stringify",
                                                //        sourceColumn: 1,
                                                //        type: "string",
                                                //        role: "annotation"
                                                //    },
                                                //    2]);

                                                var options = {
                                                    // title: "Density of Precious Metals, in g/cm^3",
                                                    width: 500,
                                                    height: 300,
                                                    bar: { groupWidth: "40%" },
                                                    legend: { position: "none" },
                                                    fontName: 'Tajawal'
                                                };
                                                var chart = new google.visualization.BarChart(document.getElementById("barchart_values88"));
                                                chart.draw(view, options);

                                            }
                                        </script>
                                    </div>

                                </div>
                            </div>
                                            }
                                            else
                                            {

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p style="text-align:center;color:red">
                                                            @Resource.NoData
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                    </div>
                </div>
            </div>
    </div>
</div>

@if (ViewBag.CenterId != 0)
{
    <script>
                                 $('#CenterDiv').show();
                                 $('#Type').val('1');
    </script>
}

@if (ViewBag.SearchType != 0)
{
    <script>
         $('#Search').val(@ViewBag.SearchType);
    </script>
}