
@using Hospital.Resources;
@{
    ViewBag.Title = Resource.Requests;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<input type="hidden" value="@CultureHelper.CurrentLanguageCode" id="Lang" />
<input type="hidden" value="@User.IsInRole("HospitalRequestDelete")" id="HospitalRequestDelete" />
<input type="hidden" value="@User.IsInRole("HospitalRequestPerview")" id="HospitalRequestPerview" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Resource.Requests
                    @if (User.IsInRole("HospitalRequestDelete"))
                    {
                        <button class="btn btn-app" id="DeleteSelected" href="#" onclick="DeleteSelected()" style="float:@Resource.right;margin-top:-7px;">
                            <i class="fa fa-trash-o"></i>
                            @Resource.Delete
                        </button>
                    }
                    
                </h3>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="row">
                    <div class="col-lg-12">
                        <label>@Resource.RequestWithNoBarCode</label>
                        
                        <input type="text" readonly value="https://7-v.net/Website/SendRequestNoBarCode" class="form-control" />

                        @*<input type="text" readonly value="http://sayyaf-001-site2.itempurl.com/Website/SendRequestNoBarCode" class="form-control" />*@
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <input type="text" placeholder="@Resource.DeviceName" value="" class="form-control" id="Name" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <input type="text" placeholder="@Resource.Serial" value="" class="form-control" id="Serial" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <input type="text" placeholder="@Resource.ComputerNumber" value="" class="form-control" id="ComputerNumber" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <select class="form-control" id="RequestType" name="RequestType">
                            <option value="0" selected>@Hospital.Resources.Resource.RequestType</option>
                            <option value="1">@Hospital.Resources.Resource.DamageRequest</option>
                            <option value="2">@Hospital.Resources.Resource.MovementRequest</option>
                            <option value="3">@Hospital.Resources.Resource.AddPPMRequest</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <select class="form-control DeviceUnit" id="DeviceUnitId" name="DeviceUnitId">
                            <option value="0" selected>@Hospital.Resources.Resource.DeviceUnit</option>
                            @foreach (var item in ViewBag.DeviceUnits)
                            {
                                if (CultureHelper.CurrentLanguageCode == 1)
                                {
                                    <option value="@item.Id">@item.NameAr</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.NameEn</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <select class="form-control" id="ConfirmType" name="ConfirmType">
                            <option value="0" selected>@Hospital.Resources.Resource.All</option>
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <br />
                        <input type="date" placeholder="@Resource.CreatedDate" value="" class="form-control" id="Date" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <input class="btn btn-primary btn-sm" type="button" value="@Resource.Search" onclick="GetDeviceRequests()" />
                    </div>

                </div>
                <div class="ls-editable-table table-responsive ls-table">
                    <br /><br />
                    <table class="table table-bordered table-striped table-bottomless" id="Table">
                        <thead>
                            <tr>
                                <th width="2%">
                                    <input type="checkbox" id="CheckBoxAll" name="CheckBoxAll" onchange="CheckBoxAll()" />
                                </th>
                                <th width="2%"> </th>
                                <th width="20%">  @Resource.DeviceName </th>
                                <th> @Resource.RequestType </th>
                                <th width="5%"> @Resource.CreatedDate</th>
                                <th width="15%"> @Resource.User</th>
                                <th width="20%">@Resource.RequestProcess</th>
                                <th width="15%">@Resource.Operations  </th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>

<div class="modal" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align:center">@Resource.AreYouSureToDelete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>@Resource.DeleteReason</label>
                <input type="hidden" value="0" id="SelectedRow" />
                <textarea class="form-control" id="DeleteReason" rows="4" cols="10"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfrimDelete()">@Resource.Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
<script src="~/Content2/moment.js"></script>
<script src="~/Content2/dateFormat.js"></script>
<script>

    $(document).ready(function () {
        GetDeviceRequests();
        //$("#Table2").DataTable();
    });

    function CheckBoxAll() {
        if ($('#CheckBoxAll').prop("checked") == true) {
            $('.CheckBox').prop("checked", true);
        }
        else {
            $('.CheckBox').prop("checked", false);
        }
    }

    function DeleteSelected()
    {
        var Selected = "";
        $('input:checkbox.CheckBox').each(function () {
            if (this.checked == true)
            {
                debugger;
                Selected += (this.value + ",");
            }
        });
        if (Selected != "")
        {
            var isconfirm = confirm('@Resource.AreYouSureToDelete ');
            if (isconfirm)
            {
                $('#DeleteSelected').prop('disabled', true);
                window.open("/Admin/DeviceRequest/DeleteConfirmedSelected?Selected=" + Selected, '_self');
            }
        }
    }

    function GetDeviceRequests() {
        $("#Table").dataTable().fnDestroy();
        $("#Table").DataTable({
            "ajax": {
                "url": "/DeviceRequest/GetDeviceRequests",
                "type": "POST",
                "datatype": "json",
                "cache": true,
                "data": { Name: $("#Name").val(), Serial: $('#Serial').val(), ComputerNumber: $('#ComputerNumber').val(), RequestType: $("#RequestType :selected").val(), DeviceUnitId: $("#DeviceUnitId :selected").val(), ConfirmType: $('#ConfirmType :selected').val(), Date: $('#Date').val() }
            },

            "columns": [
                {
                    "data": "Id", "render": function (data, type, row, meta) {
                        return '<input type="checkbox" value="' + row.Id + '" name="CheckBox" class="CheckBox" />';
                    }
                },
                {
                    "data": "Id", "render": function (data, type, row, meta) {
                        if (row.IsActive == true) {
                            return "<i class='fa fa-check fa-lg' style='color:green'></i>";
                        }
                        else {
                            return "<i class='fa fa-times fa-lg'  style='color:red'></i>";
                        }
                    }
                },
                {
                    "data": "Id", "render": function (data, type, row, meta) {
                        if (row.WithNoBarCode == true)
                        {
                            return row.DeviceName;
                        }
                        if ($('#Lang').val() == "1")
                        {
                            return row.Device.NameAr;
                        }
                        else
                        {
                            return row.Device.NameEn;
                        }
                    }
                },
                {
                    "data": "Id", "render": function (data, type, row, meta) {
                        if (row.RequestType == 1)
                        {
                            return '@Hospital.Resources.Resource.DamageRequest ( ' + row.Reason + ' )';
                        }
                        else if(row.RequestType == 2)
                        {
                            var ToUnit = $('#Lang').val() == "1" ? row.ToUnitAr : row.ToUnitEn;
                            return '@Hospital.Resources.Resource.MovementRequest ( ' + row.Reason + ' ) -> ' + ToUnit;
                        }
                        else
                        {
                             return '@Hospital.Resources.Resource.AddPPMRequest ( ' + row.Reason + ' )';
                        }
                    }
                },
                {
                    "data": "Date", "render": function (data, type, row, meta) {
                        var date1 = row.Date;
                        return '' + date1 + '';
                    }
                },
                { "data": "User", "name": "User" },
                {
                    "data": "Id", "render": function (data, type, row, meta) {
                         if (row.ConfirmType == 10)
                        {
                            var date1 = row.ConfirmedDate;
                            var nowDate = new Date(parseInt(date1.substr(6)));
                            var result = nowDate.format("dd/mm/yyyy") + "";
                            return '<h5 style="color:green" title="' + result + '"> @Hospital.Resources.Resource.PPMAdded</h5>';
                        }
                        else if (row.ConfirmType == 9)
                        {
                            return '<h5 style="color:orange"> @Hospital.Resources.Resource.PPMWillbeAdded</h5>';
                        }
                        else if (row.ConfirmType == 7)
                        {
                            var date1 = row.ConfirmedDate;
                            var nowDate = new Date(parseInt(date1.substr(6)));
                            var result = nowDate.format("dd/mm/yyyy") + "";
                            return '<h5 style="color:green" title="' + result + '"> @Hospital.Resources.Resource.Confrimed</h5>';
                        }
                        else if (row.ConfirmType == 2)
                        {
                            return '<h5 style="color:orange">@Hospital.Resources.Resource.Confirming</h5>';
                        }
                        else if (row.ConfirmType == 3)
                        {
                            return '<h5 style="color:lightblue">  @Hospital.Resources.Resource.Confirm2</h5>';
                        }
                        else if (row.ConfirmType == 4)
                        {
                            return '<h5 style="color:brown"> @Hospital.Resources.Resource.Confirm3</h5>';
                        }
                        else if (row.ConfirmType == 5) {
                            return '<h5 style="color:darkslategray"> @Hospital.Resources.Resource.Confirm4</h5>';
                        }
                        else if (row.ConfirmType == 6) {
                            return '<h5 style="color:orangered"> @Hospital.Resources.Resource.Confirm5</h5>';
                        }
                        else if (row.ConfirmType == 8) {
                            return '<h5 style="color:green"> @Hospital.Resources.Resource.Confirm8</h5>';
                        }
                        else
                        {
                            return '<h5 style="color:red"> @Hospital.Resources.Resource.New</h5>';
                        }
                    }
                },
                {
                    "data": "Id", "render": function (data, type, row, meta)
                    {
                        var Downlink = "";
                        if (row.ConfirmType != 8)
                        {
                            Downlink += ' <a class="btn btn-success btn-sm" href="/Admin/DeviceRequest/Confirm?Id=' + row.Id + '"> <i class="fa fa-check-circle-o"></i>  </a> ';
                        }
                        if (row.RequestType == 2)
                        {
                            var message = "@Resource.AreYouSureToDelete";
                            return '<a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Edit?Id=' + row.Id + '"> <i class="fa fa-eye"></i>  </a>  <a class="btn btn-danger btn-sm" onclick="Delete('+row.Id+')" href="#"><i class="fa fa-trash-o"></i>  </a>' + Downlink;
                        }
                        Downlink = "";
                        if (row.ConfirmType == 7 && row.WithNoBarCode !=true)
                        {
                            Downlink += '  <a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Print?Id=' + row.Id + '" target="_blank"> <i class="fa fa-print"></i>  </a> ';
                        }
                        else if (row.ConfirmType == 3 && row.WithNoBarCode != true)
                        {
                            Downlink += '  <a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Print2?Id=' + row.Id + '" target="_blank"> <i class="fa fa-print"></i>  </a> ';
                        }

                        if ($('#HospitalRequestDelete').val() == "value") {
                            var message = "@Resource.AreYouSureToDelete";
                            return '<a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Edit?Id=' + row.Id + '"> <i class="fa fa-eye"></i>  </a>  <a class="btn btn-danger btn-sm" onclick="Delete('+row.Id+')" href="#"><i class="fa fa-trash-o"></i>  </a>' + Downlink;
                        }
                        else if ($("#HospitalRequestPerview").val() == "value") {
                            return '<a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Edit?Id=' + row.Id + '"> <i class="fa fa-eye"></i>  </a> ' + Downlink;
                        }
                        else {
                            return '<a class="btn btn-default btn-sm" href="/Admin/DeviceRequest/Detail?Id=' + row.Id + '"> <i class="fa fa-eye"></i>  </a>' + Downlink;
                        }
                    }
                },
            ],
            "serverSide": "true",
            "pageLength": 10,
            "paging": true,
            "bSort": false,
            "bFilter": false,
            "bInfo": true,
            fixedColumns: false
            , autoWidth: false
            , responsive: true,
            "processing": "true",
            "bPaginate": true,
            "language": {
                "processing": "........"
                , "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Arabic.json"

            }



        });

    }

    function Delete(Id)
    {
        $('#SelectedRow').val(Id);
        $('#Modal').modal('show');
    }

    function ConfrimDelete()
    {
        var Id = $('#SelectedRow').val();
        var DeleteReason = $('#DeleteReason').val();
        if (DeleteReason == "")
        {
            if ($('#Lang').val() == 1) {
                return alert("من فضلك أكتب سبب الحذف");
            } else {
                return alert("Please type delete reason");
            }
        }
        window.open("/Admin/DeviceRequest/DeleteConfirmed?Id=" + Id + "&DeleteReason=" + DeleteReason, "_self");
    }

</script>
