@model IEnumerable<Hospital.Models.CenterDeviceUnit>
@using Hospital.Resources;
@{
    ViewBag.Title = Resource.CenterDeviceUnits;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Resource.CenterDeviceUnits
                    @if (User.IsInRole("HealthCenterCategoryAdd"))
                    {
                        <a class="btn btn-app" href="@Url.Action("Create")" style="float:@Resource.right;margin-top:-7px;">
                            <i class="fa fa-plus"></i>
                            @Resource.AddNew
                        </a>
                       
                    }

                    @if (User.IsInRole("HealthCenterCategoryDelete"))
                    {
                        <button class="btn btn-app" id="DeleteSelected" href="#" onclick="DeleteSelected()" style="float:@Resource.right;margin-top:-7px;">
                            <i class="fa fa-trash-o"></i>
                            @Resource.Delete
                        </button>
                    }
                </h3>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="ls-editable-table table-responsive ls-table">
                    <table class="table table-bordered table-striped table-bottomless" id="Table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="CheckBoxAll" name="CheckBoxAll" onchange="CheckBoxAll()" /> </th>
                                <th>  </th>
                                <th>@Resource.Name </th>
                                <th>@Resource.CenterName </th>
                                <th>@Resource.CustodyOfficial </th>
                                <th>@Resource.CustodyOPhone </th>
                                <th>@Resource.Operations  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th> <input type="checkbox" value="@item.Id" name="CheckBox" class="CheckBox" /> </th>
                                    <td>@count</td>
                                    @if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.NameAr)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Center.NameAr)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.NameEn)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Center.NameEn)</td>
                                    }

                                    <td>@Html.DisplayFor(modelItem => item.CustodyOfficial)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustodyOPhone)</td>

                                        <td>

                                            @if (User.IsInRole("HealthCenterCategoryEdit"))
                                            {
                                                <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })"> <i class="fa fa-edit"></i>@Resource.Edit  </a>

                                            }

                                            @if (User.IsInRole("HealthCenterCategoryDelete"))
                                            {
                                                <a class="btn btn-danger" onclick="return confirm('@Resource.AreYouSureToDelete ');" href="@Url.Action("DeleteConfirmed", new { id = item.Id })"><i class="fa fa-trash-o"></i>@Resource.Delete   </a>

                                            }
                                        </td>
                                   

                                </tr>
                                count++;
                            }
                        </tbody>

                    </table>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
<script>

    $(function () {

        $('#Table').dataTable({
            "pageLength": 10, bFilter: true, paging: true, bInfo: true, ordering: false
        });
    })

    function CheckBoxAll()
    {
        if ($('#CheckBoxAll').prop("checked") == true)
        {
            $('.CheckBox').prop("checked", true);
        }
        else
        {
            $('.CheckBox').prop("checked", false);
        }
    }

    function DeleteSelected()
    {
        var Selected = "";
        $('input:checkbox.CheckBox').each(function () {
            if (this.checked == true)
            {
                debugger;
                Selected += (this.value + ",");
            }
        });
        if (Selected != "")
        {
            var isconfirm = confirm('@Resource.AreYouSureToDelete ');
            if (isconfirm)
            {
                $('#DeleteSelected').prop('disabled', true);
                window.open("/Admin/CenterDeviceUnit/DeleteSelected?Selected=" + Selected, '_self');
            }
        }
    }

</script>
