
@{
    ViewBag.Title = Hospital.Resources.Resource.DevicesReport;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .fa-bars {
        display: none;
    }


    @@media only screen and (max-width: 600px) {
        iframe {
            width: 1200px !important;
        }
}
   

</style>
<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
<script>

    function ReportTypeChange() {
        if ($('#ReportType option:selected').val() == 1) {
            $('#CenterDiv').show();
        } else {
            $('#CenterDiv').hide();
        }
    }

    function GetCenterReport() {
        var Type = $('#Type :selected').val();
        if (Type == 0) {
            $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');
            return document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintCDReport?CenterId=" + $('#Centers :selected').val();
        }
        var DateFrom = $('#DateFrom').val();
        var DateTo = $('#DateTo').val();
        if (DateTo == "" || DateFrom == "")
            return alert("@Resource.ChooseDate");

        $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');

        document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintCenterDevicesReport?Type=" + Type + "&DateFrom=" + DateFrom + "&DateTo=" + DateTo + "&CenterId=" + $('#Centers :selected').val();

    }

    function GetReport()
    {
        var ReportType = $('#ReportType :selected').val();
        if (ReportType == 1)
            return GetCenterReport();
        var Type = $('#Type :selected').val();
        if (Type == 0) {
            $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');
            return document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintDReport";
        }
        var DateFrom = $('#DateFrom').val();
        var DateTo = $('#DateTo').val();
        if (DateTo == "" || DateFrom == "")
            return alert("@Resource.ChooseDate");

        $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');

        document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintDevicesReport?Type=" + Type + "&DateFrom=" + DateFrom + "&DateTo=" + DateTo;
    }

    function GetCenterReportPrint()
    {
        var Type = $('#Type :selected').val();
        if (Type == 0)
            return window.open("/Admin/Home/AutoPrintCDReport?CenterId=" + $('#Centers :selected').val(), '_blank');
        var DateFrom = $('#DateFrom').val();
        var DateTo = $('#DateTo').val();
        if (DateTo == "" || DateFrom == "")
            return alert("@Resource.ChooseDate");
        window.open("/Admin/Home/AutoPrintCenterDevicesReport?Type=" + Type + "&DateFrom=" + DateFrom + "&DateTo=" + DateTo + "&CenterId=" + $('#Centers :selected').val(), '_blank');
    }

    function GetReportPrint()
    {
        var ReportType = $('#ReportType :selected').val();
        if (ReportType == 1)
            return GetCenterReportPrint();
        var Type = $('#Type :selected').val();
        if (Type == 0)
            return window.open("/Admin/Home/AutoPrintDReport", '_blank');
        var DateFrom = $('#DateFrom').val();
        var DateTo = $('#DateTo').val();
        if (DateTo == "" || DateFrom == "")
            return alert("@Resource.ChooseDate");
        window.open("/Admin/Home/AutoPrintDevicesReport?Type=" + Type + "&DateFrom=" + DateFrom + "&DateTo=" + DateTo, '_blank');
    }

</script>
@using Hospital.Resources;

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                  @Hospital.Resources.Resource.DevicesReport
                </h3>
                <br />
                <a class="btn btn-app" href="@Url.Action("Index","Home")" style="float:@Resource.right;margin: -25px 0px 0px 0px;">
                    <i class="fa fa-backward"></i>
                    @Resource.BackToHome
                </a>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="row">
                    <div class="col-lg-2">
                        <label>.</label>
                        <select class="form-control" id="Type">
                            <option value="0" selected>@Hospital.Resources.Resource.All</option>
                            <option value="1">@Hospital.Resources.Resource.HasPenddingRequests</option>
                            <option value="2">@Hospital.Resources.Resource.HasNoPenddingRequests</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label>@Resource.DateFrom</label>
                        <input type="date" value="" id="DateFrom" class="form-control" />
                    </div>
                    <div class="col-lg-2">
                        <label>@Resource.DateTo</label>
                        <input type="date" value="" id="DateTo" class="form-control" />
                    </div>
                    <div class="col-lg-2">
                        <label>@Resource.Type</label>
                        <select class="form-control" id="ReportType" onchange="ReportTypeChange()">
                            <option value="0" selected>@Hospital.Resources.Resource.Hospital</option>
                            <option value="1">@Hospital.Resources.Resource.Center</option>
                        </select>
                    </div>
                    <div class="col-lg-3" id="CenterDiv" style="display:none">
                        <label>@Resource.Centers</label>
                        <select class="form-control" id="Centers">
                            <option value="0" selected>@Hospital.Resources.Resource.All</option>
                            @foreach(var item in ViewBag.Centers)
                            {
                                if (CultureHelper.CurrentLanguageCode == 1)
                                {
                                <option value="@item.Id">@item.NameAr</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.NameEn</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-2">
                       <br />
                        <input class="btn btn-primary btn-sm" type="button" value="@Hospital.Resources.Resource.GetReport" onclick="GetReport()" />
                        <input class="btn btn-primary btn-sm" type="button" value="@Hospital.Resources.Resource.Print" onclick="GetReportPrint()" />
                    </div>

                </div>
                <div class="ls-editable-table table-responsive ls-table">
                    <br /><br />
                    <div id="ReportPerview">

                    </div>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>


