@model IEnumerable<Hospital.Models.DeviceUnit>
@{
    ViewBag.Title = Hospital.Resources.Resource.DeviceUnitsReport;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .fa-bars {
        display: none;
    }

    @@media only screen and (max-width: 600px) {
        iframe {
            width: 1200px !important;
        }
    }

</style>
<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
<script>

    function ReportTypeChange() {
        if ($('#ReportType option:selected').val() == 1) {
            $('#CenterDiv').show();
            $('#CenterUnitsDiv').show();
            $('#UnitsDiv').hide();
            $('.Center').hide();
            var CenterId = $('#Centers option:selected').val();
            $('.Center_'+CenterId).show();
            $('#CenterDeviceUnits').val(0);
        } else {
            $('#CenterDiv').hide();
            $('#CenterUnitsDiv').hide();
            $('#UnitsDiv').show();
        }
    }

    function CenterChanged()
    {
        $('.Center').hide();
        var CenterId = $('#Centers option:selected').val();
        $('.Center_' + CenterId).show();
        $('#CenterDeviceUnits').val(0);
    }

    function GetReport()
    {
        var ReportType = $('#ReportType :selected').val();
        if (ReportType == 1)
            return GetCenterReport();
        var Type = $('#Type :selected').val();
        var DeviceUnitId = $('#DeviceUnit :selected').val();
        $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');

        document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintDeviceUnitsReport?Type=" + Type + "&DeviceUnitId=" + DeviceUnitId;
    }

    function GetCenterReport()
    {
        var Type = $('#Type :selected').val();
        var CenterId = $('#Centers :selected').val();
        var DeviceUnitId = $('#CenterDeviceUnits :selected').val();
        $('#ReportPerview').html('                        <iframe src="" id="ifram" name="iframe" width="100%" height="700px;" />');

        document.getElementById("ifram").contentWindow.document.location.href = "/Admin/Home/PrintCenterDeviceUnitsReport?Type=" + Type + "&DeviceUnitId=" + DeviceUnitId + "&CenterId=" + CenterId;
    }

    function GetReportPrint()
    {
        var ReportType = $('#ReportType :selected').val();
        if (ReportType == 1)
            return GetCenterReportPrint();
        var Type = $('#Type :selected').val();
        var DeviceUnitId = $('#DeviceUnit :selected').val();
        window.open("/Admin/Home/AutoPrintDeviceUnitsReport?Type=" + Type + "&DeviceUnitId=" + DeviceUnitId, '_blank');
    }

    function GetCenterReportPrint()
    {
        var Type = $('#Type :selected').val();
        var CenterId = $('#Centers :selected').val();
        var DeviceUnitId = $('#CenterDeviceUnits :selected').val();
        window.open("/Admin/Home/AutoPrintCenterDeviceUnitsReport?Type=" + Type + "&DeviceUnitId=" + DeviceUnitId + "&CenterId=" + CenterId, '_blank');
    }

</script>
@using Hospital.Resources;

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                  @Hospital.Resources.Resource.DeviceUnitsReport
                </h3>
                <br />
                <a class="btn btn-app" href="@Url.Action("Index","Home")" style="float:@Resource.right;margin: -25px 0px 0px 0px;">
                    <i class="fa fa-backward"></i>
                    @Resource.BackToHome
                </a>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="row">
                    <div class="col-lg-2">
                        <label>.</label>
                        <select class="form-control" id="Type">
                            <option value="0" selected>@Hospital.Resources.Resource.All</option>
                            <option value="1">@Hospital.Resources.Resource.HasPenddingRequests</option>
                            <option value="2">@Hospital.Resources.Resource.HasNoPenddingRequests</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label>@Resource.Type</label>
                        <select class="form-control" id="ReportType" onchange="ReportTypeChange()">
                            <option value="0" selected>@Hospital.Resources.Resource.Hospital</option>
                            <option value="1">@Hospital.Resources.Resource.Center</option>
                        </select>
                    </div>
                    <div class="col-lg-3" id="CenterDiv" style="display:none">
                        <label>@Resource.Centers</label>
                        <select class="form-control" id="Centers" onchange="CenterChanged()">
                            @foreach (var item in ViewBag.Centers)
                            {
                                if (CultureHelper.CurrentLanguageCode == 1)
                                {
                                    <option value="@item.Id">@item.NameAr</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.NameEn</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3" id="CenterUnitsDiv" style="display:none">
                        <label>@Resource.CenterDeviceUnits</label>
                        <select class="form-control" id="CenterDeviceUnits">
                            <option value="0" selected>@Hospital.Resources.Resource.All</option>
                            @foreach (var item in ViewBag.CenterDeviceUnits)
                            {
                                if (CultureHelper.CurrentLanguageCode == 1)
                                {
                                    <option class="Center Center_@item.CenterId" value="@item.Id">@item.NameAr</option>
                                }
                                else
                                {
                                    <option class="Center Center_@item.CenterId" value="@item.Id">@item.NameEn</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3" id="UnitsDiv">
                        <label>@Resource.DeviceUnits</label>
                        <select class="form-control" id="DeviceUnit">
                            @foreach (var item in Model)
                            {
                                if (CultureHelper.CurrentLanguageCode == 1)
                                {
                                    <option value="@item.Id">@item.NameAr</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.NameEn</option>
                                }
                            }
                        </select>
                    </div>
                    
                    <div class="col-lg-2">
                        <br />
                        <input class="btn btn-primary btn-sm" type="button" value="@Hospital.Resources.Resource.GetReport" onclick="GetReport()" />
                        <input class="btn btn-primary btn-sm" type="button" value="@Hospital.Resources.Resource.Print" onclick="GetReportPrint()" />
                    </div>

                </div>
                <div class="ls-editable-table table-responsive ls-table">
                    <br /><br />
                    <div id="ReportPerview">

                    </div>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>




