@model Hospital.Models.UserChangePassWordVM
@using Hospital.Resources;
@{
    ViewBag.Title = Resource.EditProfile;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(s => s.UserId)
        @Html.AntiForgeryToken()
        <p style="text-align:center;color:red">@ViewBag.Message</p>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="control-label col-md-2">
                    @Resource.OldPassword :
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @required = "required", @min = "100000" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">
                    @Resource.NewPassword :
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @required = "required",@min="100000" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">
                    @Resource.ConfirmPassword :
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @required = "required", @min = "100000" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resource.Save" class="btn btn-primary" name="Save" />
                </div>
            </div>
        </div>
    }


</div>


<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>

<script>


    $(function () {
        $('form').submit(function ()
        {
            $('#Save').attr('disabled', 'disabled');
        });
    });

</script>
