@{
    ViewBag.Title = "Print";
    Layout = null;
}
<html lang="ar-eg" dir="rtl">
<head>
    <!-- Plugin Css Put Here -->
    <link href="~/Content2/Ar-assets/css/bootstrap-rtl.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/selectize.bootstrap3-rtl.css">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/bootstrap-progressbar-3.1.1-rtl.css">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/jquery-jvectormap-rtl.css">

    <link href="https://fonts.googleapis.com/css2?family=Tajawal&amp;display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Tajawal',Tahoma !important;
        }

        h1, h2, h3, h4, h5, h6, a, span, th {
            font-family: 'Tajawal',Tahoma !important;
        }
    </style>

    <style>
        h1, h2, h3, h4, h5, h6, a, span, th {
            text-align: right;
        }

        body {
            text-align: right;
        }

        table, th, td {
            border: 1px solid black;
            padding-right: 5px;
        }

        .dot {
            height: 100px;
            width: 100px;
            background-color: #efebeb;
            border-radius: 50%;
            display: inline-block;
        }

        tr {
            height: 30px !important;
        }

        .D {
            font-weight: 300 !important;
            font-size: 12px;
        }

        @@page {
            size: auto; /* auto is the initial value */
            margin: 0; /* this affects the margin in the printer settings */
            border: 1px solid black;
        }
    </style>
</head>
@using Hospital.Resources;
<body style="overflow-x:hidden;border: 1px solid;">
    <div class="row">
        <div class="col-xs-5" style="padding-right:45px;padding-top:20px;">
            @foreach (var item in ViewBag.ReportSetting)
            {
                <p style="text-align:right;font-size:@item.FontSize">@item.DescAr</p>
            }
        </div>
        <div class="col-xs-2" style="padding-top:20px">
            @if (ViewBag.ReportImage == "" || ViewBag.ReportImage == null)
            {
                <img src="~/Content2/l.jpg" style="width:100%" />
            }
            else
            {
                <img src="~/Uploads/ReportLogo/@ViewBag.ReportImage" style="width:100%" />
            }
        </div>
        <div class="col-xs-5" style="padding-left:45px;padding-top:20px;">
            @foreach (var item in ViewBag.ReportSetting)
            {
                <p style="text-align:left;font-size:@item.FontSize">@item.DescEn</p>
            }
        </div>
    </div>
    <div class="row">
        <h4 style="text-align:center;">@Resource.b1 <br /> Job Order Report </h4>
        <h5 style="padding-right:45px;">@Resource.b2 / Job No  : .........</h5>
        <div style="margin: 0 40px 0px 40px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td>  @Resource.b3  / Device Name</td>
                        <td class="D">.................................... - .......................................</td>
                        <td> @Resource.a3 / Computer No</td>
                        <td class="D"> ...................................</td>
                    </tr>
                    <tr>
                        <td>@Resource.b4   / Manufacturer</td>
                        <td class="D">...............................................................................</td>
                        <td>@Resource.b5   / Serial No</td>
                        <td class="D"> ...................................</td>
                    </tr>
                    <tr>
                        <td>@Resource.b6     / Health Care Name</td>
                        <td class="D">.................................... - .......................................</td>
                        <td> @Resource.a7    / Model </td>
                        <td class="D"> ...................................</td>
                    </tr>
                    <tr>
                        <td> @Resource.b7   / Request Date</td>
                        <td class="D">...............................................................................</td>
                        <td> @Resource.b8    / Request Time</td>
                        <td class="D"> ...................................</td>
                    </tr>
                    <tr>
                        <td> @Resource.b9     / Done Date</td>
                        <td class="D">...............................................................................</td>
                        <td> @Resource.b10    / Done Time</td>
                        <td class="D"> ...................................</td>
                    </tr>
                </tbody>
            </table>
            <h5 style="text-align:center">  Work Order Repair Visits / @Resource.b11   </h5>
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            @Resource.b12  <br /> Attend.Eng.
                        </th>
                        <th style="text-align:center">
                            @Resource.b13  <br /> Visit Date
                        </th>
                        <th style="text-align:center">
                            @Resource.b14  <br /> Travel Time
                        </th>
                        <th style="text-align:center">
                            @Resource.b15  <br /> Start Time
                        </th>
                        <th style="text-align:center">
                            @Resource.b16 <br /> End Time
                        </th>
                        <th style="text-align:center">
                            @Resource.b17   <br /> Work Done
                        </th>
                        <th style="text-align:center">
                            @Resource.b18  <br /> BM
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h5 style="text-align:center">Spare Parts Required / @Resource.b19</h5>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th style="width:4px;text-align:center"> @Resource.b20  QTY</th>
                        <th style="width:10%;text-align:center"> @Resource.b21 Part </th>
                        <th style="text-align:center"> @Resource.b22 Description</th>
                        <th style="width:2px;text-align:center">LN</th>
                        <th style="text-align:center"> @Resource.b23   Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="3"></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h5 style="text-align:center">Spare Parts Used / @Resource.b24 </h5>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">@Resource.b25 /  Unit Price</th>
                        <th style="text-align:center">@Resource.b20  /  Qty</th>
                        <th style="text-align:center">@Resource.b26  / Part No</th>
                        <th style="text-align:center">@Resource.b27  / Description</th>
                        <th style="text-align:center">LN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h5 style="text-align:center">Signatures /  @Resource.b28 </h5>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th style="font-size:12px !important;text-align:center"> @Resource.b29  <br /> Service Engineer</th>
                        <th style="font-size:12px !important;text-align:center">  @Resource.b30 <br />  Head Of Department </th>
                        <th style="font-size:12px !important;text-align:center"> @Resource.b31  <br />  Manager Of Health Center </th>
                        <th style="font-size:12px !important;text-align:center">  @Resource.b32<br />  maintenance manager</th>

                    </tr>
                </thead>
                <tbody>
                    <tr style="height:30px !important;">
                        <td style="font-size:12px !important;text-align:center">@Resource.b33/Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td style="font-size:12px !important;text-align:center">@Resource.b34/SIG</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height:30px !important;">
                        <td style="font-size:12px !important;text-align:center">@Resource.b35 /Date</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
    <script>

        window.print();

    </script>
</body>
</html>



