
@{
    ViewBag.Title = Hospital.Resources.Resource.Statistics;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/c3js/c3-rtl.css">
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="ls-circle-widget label-light-green white">
            <i class="fa fa-users"></i>
            <h1>@Hospital.Resources.Resource.Users @ViewBag.SystemUser</h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="ls-circle-widget label-success white square-hover">
            <i class="fa fa-h-square"></i>
            <h1>@Hospital.Resources.Resource.Devices @ViewBag.Device</h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="ls-circle-widget label-info white active">
            <i class="fa fa-list-ol"></i>
            <h1>@Hospital.Resources.Resource.Requests @ViewBag.DeviceRequest</h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="ls-circle-widget label-red white">
            <i class="fa fa-trash-o"></i>
            <h1>@Hospital.Resources.Resource.DeletedRequests @ViewBag.DeletedDeviceRequest</h1>
        </div>
    </div>
    <br /><br />

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">@Hospital.Resources.Resource.RequestChart</h3>
            </div>
            <div class="panel-body">
                <div id="hero-donut" class="hero-donut-box"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
  <!--Morris Chart library Script Start -->
<script src="~/Content2/Ar-assets/js/chart/morris.min.js"></script>
<script src="~/Content2/Ar-assets/js/chart/raphael-min.js"></script>
<!--Morris Chart library Script End -->
<script>
    Morris.Donut({ element: "hero-donut", data: [{ label: "@Hospital.Resources.Resource.Canceled", value: @ViewBag.DeletedDeviceRequest }, { label: "@Hospital.Resources.Resource.New", value: @ViewBag.NewRequest }, { label: "@Hospital.Resources.Resource.Confirming", value: @ViewBag.ConfrimingRequest }, { label: "@Hospital.Resources.Resource.Confirm2", value: @ViewBag.Confrim2 }, { label: "@Hospital.Resources.Resource.Confirm3", value: @ViewBag.Confrim3 }, { label: "@Hospital.Resources.Resource.Confirm4", value: @ViewBag.Confrim4 }, { label: "@Hospital.Resources.Resource.Confirm5", value: @ViewBag.Confrim5 }, { label: "@Hospital.Resources.Resource.Confrimed", value: @ViewBag.ConfrimedRequest }], formatter: function (a) { return a + "" }, colors: ["red", "lightblue", "orange","green","brown", "lightgreen", "darkslategray","orangered"] })
</script>

