@model Hospital.Models.CenterDeviceRequest
@using Hospital.Resources;

@{
    ViewBag.Title = Resource.CenterRequests;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    @using (Html.BeginForm("Edit", "CenterDeviceRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(s => s.Id)
        @Html.HiddenFor(s => s.CreatedDate)
        @Html.HiddenFor(s => s.IsDeleted)
        @Html.HiddenFor(s => s.CreatorName)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <label>@Resource.Note</label>
                    <textarea class="form-control" id="Note" name="Note" required readonly>@Model.Reason</textarea>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.Serial</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        <input type="text" value="" readonly class="form-control" />
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Device.Serial, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                </div>

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.ComputerNumber</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        @Html.EditorFor(model => model.ComputerNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Device.ComputerNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                </div>


                <div class="col-lg-3">
                    <br />
                    <label>@Resource.CenterName</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        if (CultureHelper.CurrentLanguageCode == 1)
                        {
                            @Html.EditorFor(model => model.CenterNameAr, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.CenterNameEn, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                    }
                    else
                    {
                        if (CultureHelper.CurrentLanguageCode == 1)
                        {
                            @Html.EditorFor(model => model.Device.CenterDeviceUnit.Center.NameAr, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Device.CenterDeviceUnit.Center.NameEn, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                    }
                </div>

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.DeviceName</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                    else
                    {
                        if (CultureHelper.CurrentLanguageCode == 1)
                        {
                            @Html.EditorFor(model => model.Device.NameAr, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Device.NameEn, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                    }
                    
                </div>

            </div>

            <div class="row">

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.DeviceUnit</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        <input type="text" value="@ViewBag.DeviceUnit.NameAr" readonly class="form-control" />
                    }
                    else
                    {
                        if (CultureHelper.CurrentLanguageCode == 1)
                        {
                            @Html.EditorFor(model => model.Device.CenterDeviceUnit.NameAr, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Device.CenterDeviceUnit.NameEn, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        }
                    }
                </div>

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.Company</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        <input type="text" value="" readonly class="form-control" />
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Device.Com, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                </div>

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.DeviceModel</label>
                    @if (Model.WithNoBarCode == true)
                    {
                        <input type="text" value="" readonly class="form-control" />
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Device.Model, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                </div>


                <div class="col-lg-3">
                    <br />
                    <label>@Resource.RequestProcess</label>
                    @if (Model.RequestType == 1)
                    {
                        <select class="form-control" id="ConfirmType" name="ConfirmType" onchange="ConfirmTypeChange()">
                        @if (Model.ConfirmType == 1)
                        {
                            <option value="1" selected>@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else if (Model.ConfirmType == 2)
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2" selected>@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else if (Model.ConfirmType == 3)
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3" selected>@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else if (Model.ConfirmType == 4)
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4" selected>@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else if (Model.ConfirmType == 5)
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5" selected>@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else if (Model.ConfirmType == 6)
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6" selected>@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                        }
                        else
                        {
                            <option value="1">@Hospital.Resources.Resource.New</option>
                            <option value="2">@Hospital.Resources.Resource.Confirming</option>
                            <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                            <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                            <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                            <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                            <option value="7" selected>@Hospital.Resources.Resource.Confrimed</option>
                        }
                    </select>
                    }
                    else if (Model.RequestType == 2)
                    {
                        <select class="form-control" id="ConfirmType" name="ConfirmType" disabled>
                            @if (Model.ConfirmType == 1)
                            {
                                <option value="1" selected>@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else if (Model.ConfirmType == 2)
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2" selected>@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else if (Model.ConfirmType == 3)
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3" selected>@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else if (Model.ConfirmType == 4)
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4" selected>@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else if (Model.ConfirmType == 5)
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5" selected>@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else if (Model.ConfirmType == 6)
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6" selected>@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7">@Hospital.Resources.Resource.Confrimed</option>
                            }
                            else
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="2">@Hospital.Resources.Resource.Confirming</option>
                                <option value="3">@Hospital.Resources.Resource.Confirm2</option>
                                <option value="4">@Hospital.Resources.Resource.Confirm3</option>
                                <option value="5">@Hospital.Resources.Resource.Confirm4</option>
                                <option value="6">@Hospital.Resources.Resource.Confirm5</option>
                                <option value="7" selected>@Hospital.Resources.Resource.Confrimed</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="form-control" id="ConfirmType" name="ConfirmType">
                            @if (Model.ConfirmType == 1)
                            {
                                <option value="1" selected>@Hospital.Resources.Resource.New</option>
                                <option value="9">@Hospital.Resources.Resource.PPMWillbeAdded</option>
                                <option value="10">@Hospital.Resources.Resource.PPMAdded</option>
                            }
                            else if (Model.ConfirmType == 9)
                            {
                                <option value="1" >@Hospital.Resources.Resource.New</option>
                                <option value="9" selected>@Hospital.Resources.Resource.PPMWillbeAdded</option>
                                <option value="10">@Hospital.Resources.Resource.PPMAdded</option>
                            }
                            else
                            {
                                <option value="1">@Hospital.Resources.Resource.New</option>
                                <option value="9" >@Hospital.Resources.Resource.PPMWillbeAdded</option>
                                <option value="10" selected>@Hospital.Resources.Resource.PPMAdded</option>
                            }
                        </select>
                    }
</div>

            </div>

            <div class="row">

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.RequestType</label>
                    @if (Model.RequestType == 1)
                    {
                        <input type="text" value="@Hospital.Resources.Resource.DamageRequest" class="form-control" readonly />
                    }
                    else if (Model.RequestType == 2)
                    {
                        <input type="text" value="@Hospital.Resources.Resource.MovementRequest" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="text" value="@Hospital.Resources.Resource.AddPPMRequest" class="form-control" readonly />
                    }
                </div>

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.CreatedDate</label>
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                </div>

                @if (Model.RequestType == 2)
                {
                    <div class="col-lg-3">
                        <br />
                        <label>@Resource.TransfarToUnit</label>
                        @if (CultureHelper.CurrentLanguageCode == 1)
                    {
                            <input type="text" value="@ViewBag.DeviceUnit.NameAr" class="form-control" readonly />
                        }
                        else
                        {
                            <input type="text" value="@ViewBag.DeviceUnit.NameEn" class="form-control" readonly />
                        }
                    </div>
                }
                <div class="col-lg-3">
                    <label>@Resource.IsActive</label>
                        @Html.CheckBox("IsActive")
                </div>
            </div>

            <div class="row" id="ConfirmedDiv">

                <div class="col-lg-3">
                    <br />
                    <label>@Resource.Engineers</label>
                    <select class="form-control" id="EngineerId" name="EngineerId">
                        <option value="0" selected>@Resource.Engineers</option>
                        @foreach (var item in ViewBag.Engineers)
                        {
                            if (Model.EngineerId.HasValue)
                            {
                                if (Model.EngineerId == item.Id)
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                        <option selected value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                        <option selected value="@item.Id">@item.NameEn</option>
                                    }
                                }
                                else
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                        <option value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.NameEn</option>
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.SelectedEngineerId == item.Id)
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                        <option selected value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                        <option selected value="@item.Id">@item.NameEn</option>
                                    }
                                }
                                else
                                {
                                    if (CultureHelper.CurrentLanguageCode == 1)
                                    {
                                        <option value="@item.Id">@item.NameAr</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.NameEn</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-3">
                    <br />
                    <label>@Resource.ReportDate</label>
                    @Html.TextBoxFor(model => model.ReportDate, "{0:yyyy-MM-dd}", new { @class = "form-control",@type="date" })
                </div>
                <div class="col-lg-6">
                    <br />
                    <label>@Resource.Note</label>
                    <textarea class="form-control" id="Notes" name="Notes" rows="5" cols="7">@Model.Notes</textarea>
                </div>
            </div>

            <div class="col-md-12">
                <br />
                <input type="submit" value="@Resource.Save" class="btn btn-primary" name="Save" />
                <a class="btn btn-default" href="@Url.Action("Index","CenterDeviceRequest")"> @Resource.BackToHome </a>
            </div>

        </div>
    }


</div>

<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>

<script>


    $(function () {
        $('form').submit(function () {
            $('input[name="Save"]').prop('disabled', true);
        });
        ConfirmTypeChange();
    });

    function ConfirmTypeChange() {
        var ConfirmType = $('#ConfirmType :selected').val();
        if (ConfirmType == 7) {
            $('#ConfirmedDiv').show();
        } else {
            $('#ConfirmedDiv').hide();
        }
    }

</script>