@using Hospital.Resources;
<!DOCTYPE html>
<html lang="@CultureHelper.CurrentNeutralCulture" dir="@CultureHelper.CurrentCultureHtmlDirection">
<!-- Mirrored from fickle.aimmate.com/rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2018 23:40:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content2-Type" content="text/html; charset=utf-8" />
    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- iOS webapp metatags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- iOS webapp icons -->
    @if (CultureHelper.CurrentLanguageCode != 2)
    {
        <link rel="apple-touch-icon-precomposed" href="~/Content2/Ar-assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content2/Ar-assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content2/Ar-assets/images/ios/fickle-logo-114.png" />
    <!-- TODO: Add a favicon -->
        <link rel="shortcut icon" href="~/Content/assets/img/lolo2.png">
        <title>الصيانه الطبية</title>
    <!--Page loading plugin Start -->
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/pace-rtl.css">
        <script src="~/Content2/Ar-assets/js/pace.min.js"></script>
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
        <link href="~/Content2/Ar-assets/css/bootstrap-rtl.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/selectize.bootstrap3-rtl.css">
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/bootstrap-progressbar-3.1.1-rtl.css">
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/jquery-jvectormap-rtl.css">

        <link href="https://fonts.googleapis.com/css2?family=Tajawal&amp;display=swap" rel="stylesheet">
    <!--AmaranJS Css End -->
    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
        <link href="~/Content2/Ar-assets/css/rtl-css/style-rtl.css" rel="stylesheet">
    <!-- Custom styles Style End-->
    <!-- Responsive Style For-->
        <link href="~/Content2/Ar-assets/css/rtl-css/responsive-rtl.css" rel="stylesheet">
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/dndTable-rtl.css">
        <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/tsort-rtl.css">


    <!-- Responsive Style For-->
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <style>
            a#Table_next,
            a#Table_previous {
                border: 1px solid #e0e0e0;
                background-color: #e0e0e0;
                color: black;
                border-radius: 3px;
            }

            .LiTag {
                display: none;
            }


            body {
                font-family: 'Tajawal',Tahoma !important;
            }

            h1, h2, h3, h4, h5, h6, a, span, th {
                font-family: 'Tajawal',Tahoma !important;
            }

            th {
                font-weight: bold !important;
            }

            .big-icon {
                font-size: 25px;
            }

            .btn-primary {
                background-color: #428bca;
                border-color: #428bca;
            }

                .btn-primary:hover {
                    background-color: #428bca;
                    border-color: #428bca;
                }

            #left-navigation .user-image img {
                border-radius: 0%;
                -moz-border-radius: 0%;
                -webkit-border-radius: 0%;
                overflow: hidden;
            }

            #left-navigation .user-image {
                width: 100% !important;
            }

            #watermark {
                position: fixed;
                bottom: 5px;
                right: 5px;
                opacity: 0.5;
                z-index: 99;
                color: white;
            }

            #left-navigation .user-image {
                margin: 0 0 0 0 !important;
            }
        </style>
    }
    else
    {
        <link rel="apple-touch-icon-precomposed" href="~/Content2/assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content2/assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content2/assets/images/ios/fickle-logo-114.png" />
    <!-- TODO: Add a favicon -->
        <link rel="shortcut icon" href="~/Content/assets/img/lolo2.png">
        <title>Medical Maintenance</title>
    <!--Page loading plugin Start -->
        <link rel="stylesheet" href="~/Content2/assets/css/plugins/pace.css">
        <script src="~/Content2/assets/js/pace.min.js"></script>
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
        <link href="~/Content2/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content2/assets/css/plugins/selectize.bootstrap3.css">
        <link rel="stylesheet" href="~/Content2/assets/css/plugins/bootstrap-progressbar-3.1.1.css">
        <link rel="stylesheet" href="~/Content2/assets/css/plugins/jquery-jvectormap.css">
    <!--AmaranJS Css Start-->
        <link href="~/Content2/assets/css/plugins/amaranjs/jquery.amaran.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/all-themes.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/awesome.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/default.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/blur.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/user.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/rounded.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/readmore.css" rel="stylesheet">
        <link href="~/Content2/assets/css/plugins/amaranjs/theme/metro.css" rel="stylesheet">
    <!--AmaranJS Css End -->
    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
        <link href="~/Content2/assets/css/style.css" rel="stylesheet">
    <!-- Custom styles Style End-->
    <!-- Responsive Style For-->
        <link href="~/Content2/assets/css/responsive.css" rel="stylesheet">
    <!-- Responsive Style For-->
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->
        <style>
            .big-icon {
                font-size: 25px;
            }

            .btn-primary {
                background-color: #428bca;
                border-color: #428bca;
            }

            .LiTag {
                display: none;
            }

                .btn-primary:hover {
                    background-color: #428bca;
                    border-color: #428bca;
                }

            .navigation a h1 {
                font-size: 13px;
                font-weight: 600;
            }

            #left-navigation .user-image img {
                border-radius: 0%;
                -moz-border-radius: 0%;
                -webkit-border-radius: 0%;
                overflow: hidden;
            }

            #left-navigation .user-image {
                width: 100% !important;
            }

            #left-navigation .user-image {
                margin: 0 0 0 0 !important;
            }
        </style>
    }
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/summernote-rtl.css">

</head>
<body>
    <nav class="navigation">
        <div class="container-fluid">
            <!--Logo text start-->
            <div class="header-logo">
                <a href="@Url.Action("Index","Home",new { area="Admin" })" title="">
                    <h1></h1>
                </a>
            </div>
            <!--Logo text End-->
            <div class="top-navigation">
                <!--Collapse navigation menu icon start -->
                <div class="menu-control hidden-xs">
                    <a href="javascript:void(0)">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul>
                    <li>
                        <h4> @User.Identity.Name  <i class="fa fa-user fa-lg"></i></h4>
                    </li>
                    <li>
                        @Html.Partial("_LanguageSwitcher", new LanguageSwitcherViewModel())
                    </li>
                </ul>
                <!--Top Navigation End-->
            </div>
        </div>
    </nav>
    <!--Navigation Top Bar End-->
    <section id="main-container">
        <!--Left navigation section start-->
        <section id="left-navigation">
            <!--Left navigation user details start-->
            <div class="user-image" style="background-color:#e0e0e0">
                <img src="~/Content/assets/img/lolo2.png" alt="" style="max-height:140px;max-width:140px;margin-@Resource.left: 13%;margin-top: 0px;" />
            </div>

            <!--Left navigation user details end-->
            <!--Phone Navigation Menu icon start-->
            <div class="phone-nav-box visible-xs">
                <a class="phone-logo" href="@Url.Action("Index","Home",new { area="Admin" })" title="">
                </a>
                <a class="phone-nav-control" href="javascript:void(0)">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <!--Phone Navigation Menu icon start-->
            <!--Left navigation start-->
            <ul class="mainNav" id="Management">

                <li>
                    <a href="@Url.Action("Index", "Home" , new { area="Admin" })">
                        <i class="fa fa-home"></i> <span> @Resource.Statistics</span>
                    </a>
                </li>

                @if (User.IsInRole("Dashboard"))
                {

                    <li>
                        <a href="@Url.Action("Index", "Dashboard" , new { area="Admin" })">
                            <i class="fa fa-tachometer"></i> <span> @Resource.Dashboard</span>
                        </a>
                    </li>
                }


                <li>
                    <a href="#" onclick="Show('Hospital')" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> @Resource.Hospital </span>
                    </a>
                </li>

                @if (User.IsInRole("HospitalCategory"))
                {

                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Index", "DeviceUnit" , new { area="Admin" })">
                            <i class="fa fa-table"></i> <span>@Resource.DeviceUnits </span>
                        </a>
                    </li>

                }
                @if (User.IsInRole("HospitalDevice"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Index", "Device" , new { area="Admin" })">
                            <i class="fa fa-list-alt"></i> <span>@Resource.Devices </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("HospitalRequest"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Index", "DeviceRequest" , new { area="Admin" })">
                            <i class="fa fa-book"></i> <span>@Resource.Requests </span><span class="badge badge-red" id="Noti"></span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("HospitalArchive"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Hospital", "Archive" , new { area="Admin" })">
                            <i class="fa fa-list-alt"></i> <span>@Resource.HospitalArchive </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("HospitalSchedule"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Index", "DeviceSchedule" , new { area="Admin" })">
                            <i class="fa fa-list-alt"></i> <span>@Resource.HDeviceSchedual </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("HospitalDeviceScheduleNotification"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("Index", "DeviceScheduleNotification" , new { area="Admin" })">
                            <i class="fa fa-book"></i> <span>@Resource.DeviceScheduleNotification </span><span class="badge badge-red" id="Noti2"></span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("HospitalCanceledRequest"))
                {
                    <li class="LiTag Hospital">
                        <a href="@Url.Action("DIndex", "DeviceRequest" , new { area="Admin" })">
                            <i class="fa fa-trash-o"></i> <span>@Resource.DeletedRequests </span>
                        </a>
                    </li>
                }
            

                <li>
                    <a href="#" onclick="Show('Centers')" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> @Resource.Centers </span>
                    </a>
                </li>

@if (User.IsInRole("Center"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Index", "Center" , new { area="Admin" })">
                        <i class="fa fa-table"></i> <span>@Resource.Centers </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterCategory"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Index", "CenterDeviceUnit" , new { area="Admin" })">
                        <i class="fa fa-table"></i> <span>@Resource.CenterDeviceUnits </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterDevice"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Index", "CenterDevice" , new { area="Admin" })">
                        <i class="fa fa-list-alt"></i> <span>@Resource.CenterDevices </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterRequest"))
{
    <li class="LiTag Centers">
        <a href="@Url.Action("Index", "CenterDeviceRequest" , new { area="Admin" })">
            <i class="fa fa-book"></i> <span>@Resource.CenterRequests </span><span class="badge badge-red" id="Noti4"></span>
        </a>
    </li>
}
@if (User.IsInRole("HealthCenterArchive"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Center", "Archive" , new { area="Admin" })">
                        <i class="fa fa-list-alt"></i> <span>@Resource.CenterArchive </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterSchedule"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Index", "CenterDeviceSchedule" , new { area="Admin" })">
                        <i class="fa fa-list-alt"></i> <span>@Resource.CenterDeviceSchedual </span>
                    </a>
                </li>
}

@if (User.IsInRole("CenterDeviceScheduleNotification"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("Index", "CenterDeviceScheduleNotification" , new { area="Admin" })">
                        <i class="fa fa-book"></i> <span>@Resource.CenterDeviceScheduleNotification </span><span class="badge badge-red" id="Noti3"></span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterCanceledRequest"))
{
                <li class="LiTag Centers">
                    <a href="@Url.Action("DIndex", "CenterDeviceRequest", new { area = "Admin" })">
                        <i class="fa fa-trash-o"></i> <span>@Resource.DeletedCenterRequests </span>
                    </a>
                </li>
}
                <li>
                    <a href="#" onclick="Show('Reports')" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> @Resource.Reports </span>
                    </a>
                </li>
                @if (User.IsInRole("DeviceType"))
                {
                    <li class="LiTag Reports">
                        <a href="@Url.Action("DevicePPM", "Device" , new { area="Admin" })">
                            <i class="fa fa-paperclip"></i> <span>@Resource.DevicePPM </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("DeviceType"))
                {
                    <li class="LiTag Reports">
                        <a href="@Url.Action("DevicesReport", "Home" , new { area="Admin" })">
                            <i class="fa fa-print"></i> <span>@Resource.DevicesReport  </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("DeviceType"))
                {
                    <li class="LiTag Reports">
                        <a href="@Url.Action("DeviceUnitsReport", "Home" , new { area="Admin" })">
                            <i class="fa fa-print"></i> <span>@Resource.DeviceUnitsReport  </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("PrintHospitalReportTemplate"))
                {

                    <li class="LiTag Reports">
                        <a href="@Url.Action("PrintHospitalReportTemplate", "Home" , new { area="Admin" })">
                            <i class="fa fa-list-ol"></i> <span>@Resource.PrintHospitalReportTemplate </span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("PrintHealthCenterReportTemplate"))
                {
                    <li class="LiTag Reports">
                        <a href="@Url.Action("PrintHealthCenterReportTemplate", "Home" , new { area="Admin" })">
                            <i class="fa fa-list-ol"></i> <span>@Resource.PrintHealthCenterReportTemplate </span>
                        </a>
                    </li>
                }

                <li>
                    <a href="#" onclick="Show('Settings')" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span> @Resource.SystemSetting </span>
                    </a>
                </li>

@if (User.IsInRole("ApplicationUsers"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "ApplicationUsers", new { area = "Admin" })">
                        <i class="fa fa-users"></i> <span>@Resource.Users </span>
                    </a>
                </li>
}
@if (User.IsInRole("Engineer"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "Engineer" , new { area="Admin" })">
                        <i class="fa fa-male"></i> <span>@Resource.Engineers </span>
                    </a>
                </li>
}
@if (User.IsInRole("DeviceType"))
{

                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "DeviceType", new { area = "Admin" })">
                        <i class="fa fa-table"></i> <span>@Resource.DeviceTypes </span>
                    </a>
                </li>

}
@if (User.IsInRole("WebsiteData"))
{


                <li class="LiTag Settings">
                    <a href="@Url.Action("Setting", "ReportSetting" , new { area="Admin" })">
                        <i class="fa fa-cogs"></i> <span>@Resource.WebsiteData </span>
                    </a>
                </li>
}
@if (User.IsInRole("HospitalReportSetting"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "ReportSetting" , new { area="Admin" })">
                        <i class="fa fa-list-ol"></i> <span>@Resource.ReportSettings </span>
                    </a>
                </li>
}
@if (User.IsInRole("HospitalPPMReportSetting"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "ReportSetting2" , new { area="Admin" })">
                        <i class="fa fa-list-ol"></i> <span>@Resource.PPMReportSettings </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterReportSetting"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "CenterReportSetting" , new { area="Admin" })">
                        <i class="fa fa-list-ol"></i> <span>@Resource.CenterReportSettings </span>
                    </a>
                </li>
}
@if (User.IsInRole("HealthCenterPPMReportSetting"))
{
                <li class="LiTag Settings">
                    <a href="@Url.Action("Index", "CenterReportSetting2", new { area = "Admin" })">
                        <i class="fa fa-list-ol"></i> <span>@Resource.CenterPPMReportSettings </span>
                    </a>
                </li>
}


               

                <li>
                    <a href="#" onclick="Show('AccountData')" style="font-weight:bold;background-color:#e0e0e0;color:black;">
                        <i class="fa fa-cog"></i> <span>@Resource.AccountData   </span>
                    </a>
                </li>

                <li class="LiTag AccountData">
                    <a href="@Url.Action("EditProfile","Home",new { area="Admin" })">
                        <i class="fa fa-edit"></i> <span>@Resource.EditProfile  </span>
                    </a>
                </li>
                <li class="LiTag AccountData">
                    <a href="@Url.Action("LogOut","Home",new { area="Admin" })">
                        <i class="fa fa-sign-out"></i> <span>@Resource.LogOut   </span>
                    </a>
                </li>
            </ul>
            <!--Left navigation end-->
        </section>
        <!--Left navigation section end-->
        <!--Page main section start-->
        <section id="min-wrapper">
            <div id="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Top header start-->
                            <h3 class="ls-top-header">@Resource.ControlPanel </h3>
                            <!--Top header end -->
                            <!--Top breadcrumb start -->
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action(" Index","Home",new { area="Admin" })"><i class="fa fa-home"></i></a></li>
                                <li class="active">@ViewBag.Title</li>
                            </ol>
                            <!--Top breadcrumb start -->
                        </div>
                    </div>
                    @RenderBody()

                </div>
            </div>
        </section>

    </section>
    <input type="hidden" value="" id="Old" />
    <input type="hidden" value="" id="Old2" />
    <input type="hidden" value="" id="Old3" />
    <input type="hidden" value="" id="Old4" />

    <audio controls="controls" style="display:none" id="Audio">
        <source src="~/Scripts/percussion-sound.mp3" type="audio/mpeg" />
    </audio>
    <!--Layout Script start -->
    <script type="text/javascript" src="~/Content2/Ar-assets/js/color.js"></script>
    <script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content2/Ar-assets/js/lib/jqueryui.js"></script>
    <script type="text/javascript" src="~/Content2/Ar-assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content2/Ar-assets/js/multipleAccordion.js"></script>

    <!--easing Library Script Start -->
    <script src="~/Content2/Ar-assets/js/lib/jquery.easing.js"></script>
    <!--easing Library Script End -->
    <!--Nano Scroll Script Start -->
    <script src="~/Content2/Ar-assets/js/jquery.nanoscroller.min.js"></script>
    <!--Nano Scroll Script End -->
    <!--switchery Script Start -->
    <script src="~/Content2/Ar-assets/js/switchery.min.js"></script>
    <!--switchery Script End -->
    <!--bootstrap switch Button Script Start-->
    <script src="~/Content2/Ar-assets/js/bootstrap-switch.js"></script>
    <!--bootstrap switch Button Script End-->
    <!--easypie Library Script Start -->
    <script src="~/Content2/Ar-assets/js/jquery.easypiechart.min.js"></script>
    <!--easypie Library Script Start -->
    <!--bootstrap-progressbar Library script Start-->
    <script src="~/Content2/Ar-assets/js/bootstrap-progressbar.min.js"></script>
    <!--bootstrap-progressbar Library script End-->

    <script type="text/javascript" src="~/Content2/Ar-assets/js/pages/layout.js"></script>
    <!--Layout Script End -->
    @if (CultureHelper.CurrentLanguageCode != 2)
    {
    <!--selectize Library start-->
        <script src="~/Content2/Ar-assets/js/selectize.min.js"></script>
    <!--selectize Library End-->
    <!--Select & Tag demo start-->
        <script src="~/Content2/Ar-assets/js/pages/selectTag.js"></script>
    }
    else
    {
    <!--selectize Library start-->
        <script src="~/Content2/assets/js/selectize.min.js"></script>
    <!--selectize Library End-->
    <!--Select & Tag demo start-->
        <script src="~/Content2/assets/js/pages/selectTag.js"></script>
    }

    <!--Drag & Drop & Sort  table start-->
    <script src="~/Content2/Ar-assets/js/tsort.js"></script>
    <script src="~/Content2/Ar-assets/js/jquery.tablednd.js"></script>
    <script src="~/Content2/Ar-assets/js/jquery.dragtable.js"></script>
    <!--Drag & Drop & Sort table end-->
    <!--Editable-table Start-->
    <script src="~/Content2/Ar-assets/js/editable-table/jquery.dataTables.js"></script>
    <script src="~/Content2/Ar-assets/js/editable-table/jquery.validate.js"></script>
    <script src="~/Content2/Ar-assets/js/editable-table/jquery.jeditable.js"></script>
    <script src="~/Content2/Ar-assets/js/editable-table/jquery.dataTables.editable.js"></script>
    <!--Editable-table Finish -->
    <!--Advance Radio and checkbox demo start-->
    <!-- summernote Editor Script For Layout start-->
    <script src="~/Content2/Ar-assets/js/summernote.min.js"></script>
    <!-- summernote Editor Script For Layout End-->
    <!-- Demo Ck Editor Script For Layout Start-->
    <script src="~/Content2/Ar-assets/js/pages/editor.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Admin/Home/Notification",
                data: {
                },
                success: function (data) {
                    $('#Noti').text(data);
                    $('#Old').val(data);
                }
            });

            $.ajax({
                url: "/Admin/Home/Notification4",
                data: {
                },
                success: function (data) {
                    $('#Noti4').text(data);
                    $('#Old4').val(data);
                }
            });

            $.ajax({
                url: "/Admin/Home/Notification2",
                data: {
                },
                success: function (data) {
                    $('#Noti2').text(data);
                    $('#Old2').val(data);
                }
            });

            $.ajax({
                url: "/Admin/Home/Notification3",
                data: {
                },
                success: function (data) {
                    $('#Noti3').text(data);
                    $('#Old3').val(data);
                }
            });
        });
        //while (true)
        //{
        //    setTimeout(function () {
        //        Notification();
        //    }, 5000);
        //}

        window.setInterval(function () {
            Notification();
            Notification2();
            Notification3();
            Notification4();
        }, 5000);

        function Notification() {
            $.ajax({
                url: "/Admin/Home/Notification",
                data: {
                },
                success: function (data) {
                    var Old = $('#Old').val();
                    if (data > Old) {
                        $('#Noti').text(data);
                        document.getElementById('Audio').play();
                    }
                    else if (data < Old) {
                        $('#Noti').text(data);
                    }
                    $('#Old').val(data);
                }
            });
        }

        function Notification4() {
            $.ajax({
                url: "/Admin/Home/Notification4",
                data: {
                },
                success: function (data) {
                    var Old = $('#Old4').val();
                    if (data > Old) {
                        $('#Noti4').text(data);
                        document.getElementById('Audio').play();
                    }
                    else if (data < Old) {
                        $('#Noti4').text(data);
                    }
                    $('#Old4').val(data);
                }
            });
        }

        function Notification2() {
            $.ajax({
                url: "/Admin/Home/Notification2",
                data: {
                },
                success: function (data) {
                    var Old = $('#Old2').val();
                    if (data > Old) {
                        $('#Noti2').text(data);
                        document.getElementById('Audio').play();
                    }
                    else if (data < Old) {
                        $('#Noti2').text(data);
                    }
                    $('#Old2').val(data);
                }
            });
        }

        function Notification3() {
            $.ajax({
                url: "/Admin/Home/Notification3",
                data: {
                },
                success: function (data) {
                    var Old = $('#Old3').val();
                    if (data > Old) {
                        $('#Noti3').text(data);
                        document.getElementById('Audio').play();
                    }
                    else if (data < Old) {
                        $('#Noti3').text(data);
                    }
                    $('#Old3').val(data);
                }
            });
        }


        function Show(ClassName) {
            if ($("." + ClassName).is(":visible")) {
                $('.LiTag').hide('slow');
            }
            else {
                $('.LiTag').hide('slow');
                $('.' + ClassName).show('slow');
            }
        }

    </script>
</body>


<!-- Mirrored from fickle.aimmate.com/rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2018 23:40:49 GMT -->
</html>
