@model List<Hospital.Models.DeviceSchedule>
@using Hospital.Resources;

@{
    ViewBag.Title = Resource.HDeviceSchedual;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2">
                @Resource.DeviceName :
            </div>
            <div class="col-md-8">
                <input type="text" value="@ViewBag.DeviceName" readonly id="DeviceName" class="form-control" required name="DeviceName" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                @Resource.ScheduleCount :
            </div>
            <div class="col-md-8">
                <input type="number" value="@Model.Count()" min="1" readonly id="ScheduleCount" class="form-control" required name="ScheduleCount" />
            </div>
        </div>
        <div id="SDiv">
            @{ var Ids = "";}
            @foreach(var item in Model)
            {
                Ids += item.Id+",";
            }
            <input type="hidden" value="@Ids" id="Ids" name="Ids" />
            @for (var i = 0; i < Model.Count(); i++)
            {
                <div class="form-group" id="ScheduleDiv_@Model[i].Id">
                    <div class="control-label col-md-2">
                        @Resource.PPMDate :
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id = "Day_@Model[i].Id">
                            @foreach (var D in ViewBag.DayId)
                            {
                                if(Convert.ToInt32(D.Value) == Model[i].DayId)
                                {
                                    <option selected value="@D.Value">@D.Text</option>
                                }
                                else
                                {
                                    <option value="@D.Value">@D.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="Month_@Model[i].Id">
                            @foreach (var M in ViewBag.MonthId)
                            {
                                if (Convert.ToInt32(M.Value) == Model[i].MonthId)
                                {
                                    <option selected value="@M.Value">@M.Text</option>
                                }
                                else
                                {
                                    <option value="@M.Value">@M.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="Save()" value="@Resource.Save" class="btn btn-primary" name="Save" />
                <a class="btn btn-default" href="@Url.Action("Index","DeviceSchedule")"> @Resource.BackToHome </a>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>

<script>

    function Save() {
        var Ids = $('#Ids').val();
        var SpliteIds = Ids.split(",");
        var Dates = "";
        for (var i = 0; i < SpliteIds.length; i++)
        {
            if (SpliteIds[i] != "")
                Dates += (SpliteIds[i]+":"+$('#Day_' + SpliteIds[i] + " :selected").val() + ":" + $('#Month_' + SpliteIds[i] + " :selected").val() + ",");
        }

        if (Dates != "")
        {
            $('input[name="Save"]').prop('disabled', true);
            window.open("/Admin/DeviceSchedule/SaveEditDeviceSchedual?Dates=" + Dates, '_self');
        }
    }

</script>