@model List<Hospital.Models.CenterDeviceSchedule>
@using Hospital.Resources;

@{
    ViewBag.Title = Resource.CenterDeviceSchedual;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2">
                @Resource.DeviceName :
            </div>
            <div class="col-md-8">
                <input type="text" value="@ViewBag.CenterDeviceName" readonly id="DeviceName" class="form-control" required name="DeviceName" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                @Resource.ScheduleCount :
            </div>
            <div class="col-md-8">
                <input type="number" value="@Model.Count()" min="1" readonly id="ScheduleCount" class="form-control" required name="ScheduleCount" />
            </div>
        </div>
        <div id="SDiv">
            @for (var i = 0; i < Model.Count(); i++)
            {
                <div class="form-group" id="ScheduleDiv_@Model[i].Id">
                    <div class="control-label col-md-2">
                        @Resource.PPMDate :
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" disabled id="Day_@Model[i].Id">
                            @foreach (var D in ViewBag.DayId)
                            {
                                if (Convert.ToInt32(D.Value) == Model[i].DayId)
                                {
                                    <option selected value="@D.Value">@D.Text</option>
                                }
                                else
                                {
                                    <option value="@D.Value">@D.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" disabled id="Month_@Model[i].Id">
                            @foreach (var M in ViewBag.MonthId)
                            {
                                if (Convert.ToInt32(M.Value) == Model[i].MonthId)
                                {
                                    <option selected value="@M.Value">@M.Text</option>
                                }
                                else
                                {
                                    <option value="@M.Value">@M.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Index","CenterDeviceSchedule")"> @Resource.BackToHome </a>
            </div>
        </div>
    </div>


</div>
